@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0%;
    padding: 0%;
    
}

.hero-logo{
    animation: animate 2s infinite ease-in-out alternate;
}
@keyframes animate {
    100%{
        transform:translateY(20px)
    }
}


body::-webkit-scrollbar {
width: 1px;
background-color: black;
}

body::-webkit-scrollbar-thumb {
border-radius: 10px;
background:rgb(164, 29, 176) ;
}